.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #091921;
}

.themeBtn {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
