.slickContainer {
  width: 100%;
}

.slickFullScreenButton {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10;

  svg {
    color:rgba(225, 225, 225, 1);
  }

  &:hover {
    transform: scale(1.2);
    transition: transform 0.6s;
  }
}

.slickContainerFullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slickFullScreen {
  width: 100%;
}

.slickSlider {
  display: flex;
  flex-direction: column;
}

.slickArrow {
  z-index: 10;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  color: rgba(225, 225, 225, 0.6);
  background: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  &:hover svg {
    color: rgba(255, 255, 255, 1);
    transition: color 0.6s;
  }
  &:active svg {
    color: rgba(88, 144, 235, 0.8);
    transition: color 0s;
  }
}

.slickPrevArrow {
  left: 0;
}

.slickNextArrow {
  right: 42%;
}

.slickImage {
  position: relative;
  display: flex !important;
  outline: none;
}

.slickContainerFullScreen .slickImage {
  flex-wrap: nowrap;
  background-color:rgba(255, 255, 255, 1);
}

.slickImageInfo {
  padding-left: 20px;
}

.slickContainerFullScreen .slickImageInfo {
  padding: 20px;
}

.slickImageCaption {
  margin-bottom: 5px;
}

.slickImageTitle {
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.slickImageDescription {
  margin: 0;
}

.slickThumbs {
  display: flex !important;
  justify-content: center;
  padding: 0;
  list-style: none;
  max-width: 100%;
  overflow: hidden;
  height: 100px;
}

.slickThumbsLink {
  cursor: pointer;
}

.slickThumbs img {
  height: 100px;
}

.slickAttractionRatingStats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.slickAttractionRatingHeader {
  margin-bottom: 5px;
  font-weight: bold;
}

.slickAttractionRatingValue {
  margin: 0;
  font-size: 1.2em;
}

@media(max-width: 1280px) {
  .slickArrow {
    top: 25%;
  }

  .slickNextArrow {
    right: 0;
  }

  .slickImageInfo {
    padding: 10px 0;
  }

  .slickContainerFullScreen .slickImageInfo {
    padding: 10px;
  }

  .slickThumbs,
  .slickThumbs img {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .slickImageInfo {
    font-size: 0.8em;
    padding: 5px 0;
  }

  .slickThumbs,
  .slickThumbs img {
    height: 60px;
  }

  .slickFullScreenButton {
    display: none !important;
  }

  .slickThumbs {
    display: none !important;
  }

  .slickImageInfo {
    width: 100%;
  }

  .slickArrow {
    width: 60px;
  }
}

